* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* background-color: rgb(208, 212, 216); */
  width: 90%;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
}
body {
  font-family: "Lato", sans-serif;
}
img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.location,
.phone,
.mail,
.linkedin,
.github {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-data {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
}
.name{
    font-weight: 700;
    font-size: 50px;
}
.job-title{
    font-weight: 500;
    margin-bottom: 10px;
}
.row{
    display: grid;
    grid-template-columns: 70% 30%;
}
.dash{
    height: 3px;
    width: 100%;
    background-color: red;
}