@use "colors";
@font-face {
  font-family: "samsungsharpsansbold";
  src:

    url("../assets/font/samsungsharpsans-bold.otf") ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body {
  background-repeat: no-repeat;
  font-family: "samsungsharpsansbold", sans-serif;
}

.container {
  margin: 2rem 3rem;
}