@use "fonts" as *;
@use "space" as *;

.info {
    margin-bottom: $section-space;
    &__container {
        display: grid;
        grid-template-columns: repeat(6, auto);
    }

    &__box {
        display: flex;
        align-items: center;


        &>a {
            &:link {
                color: black;
                text-decoration: none;
                font-size: $font--size-4;
            }
        }

        &--location,
        &--phone {
            grid-column: span 3;
                    justify-content: center;

        }

        &--email,
        &--linkedin,
        &--github {
            grid-column: span 2;
                    justify-content: center;

        }

    }

    &__name {
        font-size: $font--size-1;
    }

    &__title {
        font-size: $font--size-2;

    }

    text-align: center;

    &__email {}


    &__icon {
        width: 32px;
        height: 32px;
        transform: scale(0.5);
    }
}